:root {
    --bg: #273342;
    --shadow: #121b25;
    --block: #364353;
    --columns: 3;
}

@media (min-width: 2550px) {
    :root {
        --columns: 8;
    }
}

@font-face {
    font-family: 'ConcertOne';
    src: url(ConcertOne-Regular.ttf);
}

@font-face {
    font-family: 'Coolvetica';
    src: url(Coolvetica-Rg.otf);
}

body {
    background-color: var(--bg);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
    font-family: 'Coolvetica', Helvetica, sans-serif;
    letter-spacing: 1px;
}

div#head {
    background-color: #132030;
    margin: 0px 0px 0px 0px;
    padding: 1px 0px 0px 0px;
    border-bottom: 30px solid;
    border-image: linear-gradient(to bottom, #132030 97%, var(--bg) 100%) 10;
}

div#head>h1 {
    font-size: 5em;
    text-align: center;
    text-shadow: 0px 5px 0px #89aec49f;
    font-family: 'ConcertOne';
}

div.block {
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    background-color: var(--block);
    padding: 20px 20px;
    box-shadow: 0 0 10px var(--shadow);
    margin: 10px 10px;
    backdrop-filter: blur(30px);
    text-align: center;
}

div.block>h1 {
    font-family: 'ConcertOne';
    letter-spacing: 1px;
    text-align: center;
    font-size: 3em;
}

a.lnk {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

div.container:not(#cursor-container) {
    justify-content: center;
    justify-self: center;
    display: flex;
    align-self: center;
    align-items: center;
}

div.container#cursor-container {
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: repeat(var(--columns), 1fr);
}

div.container:not(#cursor-container)>img {
    width: 30px;
    transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    -moz-transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    -ms-transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

div.container:not(#cursor-container):hover>img {
    width: 80px;
}