body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.7)
}

@font-face {
  font-family: 'MadimiOne';
  src: url('MadimiOne-Regular.ttf');
}

#home {
  position:relative;
  right: 80px;
  top: 75px;
  color: white;
  border-radius: 60px;
  padding: 20px 30px;
  background-color: rgb(63,63,63);
  border: solid;
  border-color: rgb(53,53,53);
  font-size: 12px;
  font-weight: bold;
}

img {
  margin: 10px;
}

#app {
  position:relative;
  left: 200px;
  top: 75px;
  color: white;
  border-radius: 60px;
  padding: 20px 30px;
  background-color: rgb(63,63,63);
  border: solid;
  border-color: rgb(53,53,53);
  font-size: 12px;
  font-weight: bold;
}

a {
  margin: 10px;
}

button {
    border-radius: 60px;
    padding: 20px 30px;
    background-color: #fdd835;
    border: solid;
    border-color: rgb(203,176,3);
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.cur {
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(58, 216, 255);
    text-align: left;
    width: 290px;
    border-radius: 60px;
    padding: 40px 30px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 1);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

:root {
  --columns: 3;
}

@media (max-width: 768px) {
  :root {
    --columns: 2;
  }
}

@media (width: 2560) {
  :root {
    --columns: 5;
  }
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(calc(var(--columns)), 1fr); /* 3 columns */
  gap: 10px; /* Adjust the gap between items */
}

.flex-item {
  text-align: center;
  flex: 0 0 calc(33% - 10px); /* 3 items per row */
  /* Add styling for each flex item */
  padding: 10px;
}

.img-item {
  text-align: center;
  flex: 0 0 calc(50%); /* 2 items per row */
  /* Add styling for each flex item */
  padding: 10px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px; /* Adjust the gap between items */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top {
  font-family: 'MadimiOne';
  margin: 0;
  padding: 0;
  color: white;
  width:width;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 0px;
  text-align:center;
  border-bottom: 6px solid rgba(255,255,255,0.1)
}

#bottom {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white;
  width:width;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 0px;
  text-align:center;
  border-top: 6px solid rgba(255,255,255,0.1)
}

.tb {
  margin: 10px;
  position:relative;
  color: white;
  border-radius: 60px;
    padding: 20px 30px;
    background-color: rgb(63,63,63);
    border: solid;
    border-color: rgb(53,53,53);
    font-size: 12px;
    font-weight: bold;
}

input {
  position:relative;
  color: white;
  border-radius: 20px;
    padding: 20px 10px;
    background-color: rgb(63,63,63);
    border: solid;
    border-color: rgb(53,53,53);
    font-size: 15px;
    font-weight: bold;
}